<!--<form action="/chat/" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form }}-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->

<form class="new_message" id="new_message" action="/chat/" accept-charset="UTF-8" method="post">
    {% csrf_token %}
<!--    {{ form.message.as_field_group }}-->
    <label class="sr-sonly" for="message_content">Content</label>
    <div class="flex items-center bg-gray-50 px-3 py-2 dark:bg-gray-700">
      <input class="mx-4 block w-full rounded-lg border border-gray-300 bg-white p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" placeholder="Your message..." type="text" name="message[content]" id="message_content">
      <button type="submit" class="inline-flex cursor-pointer justify-center rounded-full p-2 text-blue-600 hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
        <svg class="h-5 w-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
          <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"></path>
        </svg>
        <span class="sr-only">Send message</span>
      </button>
    </div>
  </form>